.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .JokeList {
    width: 80%;
    height: 90vh;
    border: 1px solid red;
    display: flex;
    overflow-y: scroll;

    &-jokes {
      width: 100%;
    }
  }
}
