.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  .JokeList {
    // width: 80%;
    height: 90vh;
    display: flex;
    overflow-y: scroll;

    &-jokes {
      width: 100%;
    }

    .loader {
      width: 100%;
    }

    .hide {
      display: none;
      width: 100%;
    }
  }
}
