.Table {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: url(../white-waves.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .Table .hand {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 2rem; }

.Card {
  position: absolute;
  top: 50;
  margin-top: 1rem; }

.Button {
  width: 6rem;
  margin-bottom: 2rem;
  height: 6rem;
  border: 3px solid #36454f;
  border-radius: 50%;
  color: #fff;
  font-size: inherit;
  transition: all 0.2s ease-in-out; }
  .Button:hover {
    transform: rotate(40deg);
    box-shadow: 0px 0px 12px aqua;
    background: rgba(0, 255, 255, 0.1); }
  .Button:focus {
    outline: none;
    box-shadow: 0px 0px 12px aqua; }

.hide {
  visibility: hidden; }

.Header-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 80%;
  max-width: 500px; }
  .Header-container .Header {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: #36454f;
    border-top: 3px solid #36454f;
    border-bottom: 3px solid #36454f;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Header-container .Header .Header-title {
      font-size: 3rem;
      text-transform: uppercase; }
    .Header-container .Header .Header-counter {
      font-size: 1.5rem;
      font-family: "Lato", sans-serif;
      width: 60;
      padding: 10px;
      border: 2px solid #36454f;
      border-radius: 10px;
      text-align: center;
      margin-top: 2rem; }
      @media screen and (max-width: 500px) {
        .Header-container .Header .Header-counter {
          width: 100%; } }

* {
  box-sizing: border-box; }

.App {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }
