* {
  box-sizing: border-box; }

body {
  font-size: 18px;
  background: #ffffff;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto; }

main {
  width: 100%; }

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1); }

p {
  text-align: center;
  font-family: "Open Sans", sans-serif; }

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem; }

li {
  list-style: none; }

a {
  color: white;
  text-decoration: none; }

.intro {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  background: url("../../../images/bg-hero-mobile.svg"), linear-gradient(rgba(222, 244, 255, 0.7), rgba(222, 244, 255, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  margin-bottom: 4rem; }
  .intro .banner-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    .intro .banner-top-container .intro-logo {
      width: 8rem;
      top: 1rem;
      left: 1rem; }
    .intro .banner-top-container .button-white {
      right: 1rem;
      top: 1rem;
      width: 7.5rem;
      background-color: white; }
  .intro .col2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 700px) {
      .intro .col2 {
        flex-direction: row; } }
    .intro .col2 .left-col {
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media screen and (min-width: 700px) {
        .intro .col2 .left-col {
          justify-content: flex-start;
          width: 50%;
          padding-left: 3rem; } }
      .intro .col2 .left-col .header-top {
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin-bottom: 0.5rem;
        width: 85%;
        margin-left: auto;
        margin-right: auto; }
        @media screen and (min-width: 700px) {
          .intro .col2 .left-col .header-top {
            text-align: left;
            margin-left: 0; } }
      .intro .col2 .left-col .header-main-text {
        margin-top: 0;
        margin-bottom: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem; }
        @media screen and (min-width: 700px) {
          .intro .col2 .left-col .header-main-text {
            text-align: left;
            padding-left: 0; } }
      .intro .col2 .left-col .pink-button {
        width: 17rem;
        height: 2.75rem;
        color: white;
        background: #ff52bf;
        margin-bottom: 4.5rem; }
        @media screen and (min-width: 700px) {
          .intro .col2 .left-col .pink-button {
            align-self: flex-start; } }
    .intro .col2 .huddle-mockup-img {
      border: 1px solid green;
      width: 80%;
      height: auto;
      margin-bottom: 2rem; }
      @media screen and (min-width: 700px) {
        .intro .col2 .huddle-mockup-img {
          width: 50%; } }

.cards-section {
  position: relative;
  display: grid;
  justify-items: center;
  padding-bottom: 15rem; }
  .cards-section .card {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding-top: 4rem;
    display: grid;
    justify-items: center;
    margin-bottom: 3rem; }
    .cards-section .card .card-image {
      width: 75%;
      margin-bottom: 3rem; }
    .cards-section .card .card-header {
      margin-bottom: 0; }
    .cards-section .card .card-paragraph {
      font-size: 0.95rem;
      color: #718c9e;
      margin-bottom: 4rem;
      width: 75%; }
  .cards-section .floating-card {
    background-color: white;
    width: 95%;
    padding-top: 2.5rem;
    position: absolute;
    bottom: -130px; }
    .cards-section .floating-card .floating-card-header {
      font-size: 1.3rem;
      margin-bottom: 2rem; }
    .cards-section .floating-card .pink-button {
      width: 17rem;
      height: 2.75rem;
      color: white;
      background: #ff52bf;
      margin-bottom: 4.5rem;
      width: 14rem;
      margin-bottom: 3.5rem; }

.footer {
  font-family: "Open Sans", sans-serif;
  background: #00252e;
  width: 100%;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 11rem;
  padding-bottom: 1.5rem; }
  .footer .logo {
    width: 45%;
    margin-bottom: 2rem; }
  .footer .contact-type {
    position: relative;
    display: flex;
    align-items: baseline; }
    .footer .contact-type .fas {
      font-size: 1.4rem;
      margin-top: 7px;
      margin-right: 1.5rem; }
    .footer .contact-type p {
      margin-top: 0;
      margin-bottom: 1rem;
      margin-right: 1rem;
      text-align: left;
      font-size: 1.1rem; }
  .footer nav * {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem; }
  .footer nav ul {
    padding-left: 0;
    margin-bottom: 3rem; }
    .footer nav ul li {
      margin-bottom: 1.5rem; }
  .footer .social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem; }
    .footer .social-media .icon-container {
      border: 1px solid white;
      border-radius: 50%;
      width: 2.1rem;
      padding: 5px 5px;
      margin-right: 0.8rem;
      display: flex;
      justify-content: center; }
  .footer .copy {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 3rem; }
