@import "../modules/all";
@import "./typography";

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background: #ffffff;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 100%;
}

button {
  font-family: $family-body;
  font-weight: $bold;
  border: none;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
  font-family: $family-body;
}

h2 {
  text-align: center;
  font-family: $family-heading;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
