// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// Typography

//  Body Copy
$size-body: 18px;

//  Headings
$family-heading: "Poppins", sans-serif;

// Body, Call-to-actions
$family-body: "Open Sans", sans-serif;
$regular: 400;
$bold: 700;
