.Dog {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #efefef;
  border-radius: 0.28571429rem;
  min-width: 300px;
  max-width: 460px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-bottom: 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem;

  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.Dog-left-content {
  /* margin-right: auto;
  margin-left: auto; */
  background-size: cover;
  background-position: top center;
  height: 400px;
  width: 100%;
  /* max-width: 460px; */
  /* border: 1px solid red; */
  /* width: 100%;?  */
  /* min-width: 200px; */

  /* display: flex; */
  margin-bottom: 1rem;
}

.Dog-image {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
}

.Dog-right-content {
  /* border: 1px solid green; */
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  width: 80%;
  /* background-color: rgba(245, 245, 245, 0.7); */

  /* width: 30%; */
}

.Dog-right-content-header {
  font-weight: 400;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  text-decoration: underline;
}
.ellipses {
  rext-decoration: none;
}
.Dog-facts-container {
  padding: 0;
  /* border: 1px solid green; */
  padding: 0.25rem;
  /* background-color: rgba(245, 245, 245, 0.7); */
}
.Dog-facts {
  font-size: 1.5rem;
  font-weight: lighter;
  list-style: none;
  border-bottom: 1px solid #efefef;
  margin-bottom: 1rem;
}

@media screen and (max-width: 680px) {
  .Dog-right-content-header {
    font-size: 1.5rem;
  }

  .Dog-facts {
    font-size: 1rem;
  }
}
